@model POS_Web.DataContext.AbsensiEntity

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Detail Absensi</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>EmployeeId</th>
        <td>@Model.EmployeeId</td>
    </tr>
    <tr>
        <th>AbsenStartDate</th>
        <td>@Model.AbsenStartDate</td>
    </tr>
    <tr>
        <th>AbsenEndDate</th>
        <td>@Model.AbsenEndDate</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>@Model.Location</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
</table>